Client/Connected Services/CodeCompare/ServiceContract2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DateObjectSender" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DateObjectSender" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5339/ServiceContract.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AddingCodeObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CompareLocal" type="xs:boolean" />
      <xs:element minOccurs="0" name="CompileType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileMane" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSearch" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddingCodeObject" nillable="true" type="tns:AddingCodeObject" />
  <xs:complexType name="ResultCompareObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildCodeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocalCompare" type="xs:boolean" />
      <xs:element minOccurs="0" name="MainCodeText" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResultCompare" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TokkingChildCode" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TokkingMainCode" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultCompareObject" nillable="true" type="tns:ResultCompareObject" />
  <xs:complexType name="RegistrationObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationObject" nillable="true" type="tns:RegistrationObject" />
  <xs:complexType name="UserInformationObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInformationObject" nillable="true" type="tns:UserInformationObject" />
</xs:schema>