Client/Connected Services/CodeCompare/ServiceContract1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DateObjectSender.DetailAnalyz" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DateObjectSender.DetailAnalyz" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5339/ServiceContract.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfDAnalysClassObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DAnalysClassObject" nillable="true" type="tns:DAnalysClassObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDAnalysClassObject" nillable="true" type="tns:ArrayOfDAnalysClassObject" />
  <xs:complexType name="DAnalysClassObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllMethod" nillable="true" type="tns:ArrayOfDAnalysMethodObject" />
      <xs:element minOccurs="0" name="BaseClasses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountOfMehod" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Error" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DAnalysClassObject" nillable="true" type="tns:DAnalysClassObject" />
  <xs:complexType name="ArrayOfDAnalysMethodObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DAnalysMethodObject" nillable="true" type="tns:DAnalysMethodObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDAnalysMethodObject" nillable="true" type="tns:ArrayOfDAnalysMethodObject" />
  <xs:complexType name="DAnalysMethodObject">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AllTypeInMethod" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DAnalysMethodObject" nillable="true" type="tns:DAnalysMethodObject" />
</xs:schema>