Client/Connected Services/CodeCompare/ServiceContract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceContract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5339/ServiceContract.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5339/ServiceContract.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5339/ServiceContract.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5339/ServiceContract.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.DateObjectSender" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceContract_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_CreateNewDB_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewDB" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_CreateNewDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewDBResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetComipeType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComipeType" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetComipeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComipeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_AddCode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCode" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_AddCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetListSubmit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListSubmit" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetListSubmit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListSubmitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_SearchFromListSubmit_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchFromListSubmit" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_SearchFromListSubmit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchFromListSubmitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetListHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListHistory" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetListHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_Autification_InputMessage">
    <wsdl:part name="parameters" element="tns:Autification" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_Autification_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutificationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ChangeUserImage_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserImage" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ChangeUserImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserImageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_UpdateUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_UpdateUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceContract">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/GetData" message="tns:IServiceContract_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/GetDataResponse" message="tns:IServiceContract_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/CreateNewDB" message="tns:IServiceContract_CreateNewDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/CreateNewDBResponse" message="tns:IServiceContract_CreateNewDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComipeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/GetComipeType" message="tns:IServiceContract_GetComipeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/GetComipeTypeResponse" message="tns:IServiceContract_GetComipeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/AddCode" message="tns:IServiceContract_AddCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/AddCodeResponse" message="tns:IServiceContract_AddCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListSubmit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/GetListSubmit" message="tns:IServiceContract_GetListSubmit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/GetListSubmitResponse" message="tns:IServiceContract_GetListSubmit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchFromListSubmit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/SearchFromListSubmit" message="tns:IServiceContract_SearchFromListSubmit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/SearchFromListSubmitResponse" message="tns:IServiceContract_SearchFromListSubmit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/GetListHistory" message="tns:IServiceContract_GetListHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/GetListHistoryResponse" message="tns:IServiceContract_GetListHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/Registration" message="tns:IServiceContract_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/RegistrationResponse" message="tns:IServiceContract_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Autification">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/Autification" message="tns:IServiceContract_Autification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/AutificationResponse" message="tns:IServiceContract_Autification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ChangeUserImage" message="tns:IServiceContract_ChangeUserImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ChangeUserImageResponse" message="tns:IServiceContract_ChangeUserImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/UpdateUserInfo" message="tns:IServiceContract_UpdateUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/UpdateUserInfoResponse" message="tns:IServiceContract_UpdateUserInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceContract" type="tns:IServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewDB">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/CreateNewDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComipeType">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/GetComipeType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCode">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/AddCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListSubmit">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/GetListSubmit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFromListSubmit">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/SearchFromListSubmit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListHistory">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/GetListHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autification">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/Autification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserImage">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ChangeUserImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceContract">
    <wsdl:port name="BasicHttpBinding_IServiceContract" binding="tns:BasicHttpBinding_IServiceContract">
      <soap:address location="http://localhost:5339/ServiceContract.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>